

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,900&display=swap');

/* variáveis para transição de modo - dark/light :D */
:root {
    --white: #fff;
    --dark: #313131;
}

/* troca de temas :D */
[data-theme="dark"]{
    --white: #313131;
    --dark: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

/* login */

body.loginStyle form {
    color: var(--white);
    overflow-y: auto;
}


body.loginStyle .margin-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    /* background: linear-gradient(#9E77F1, #582db6);; */
    border-radius: 30px;
    box-shadow: 5px 20px 20px #424242;
    /* border: 1px #9E77F1; */
    border: 2px solid #9E77F1;

}

#chk {
    display: none;
}

a,
h1 {
    color: #9E77F1;
    font-family: 'Poppins', sans-serif;
}

body.loginStyle label {
    color: #9E77F1 !important;
    font-size: 2.6rem;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    align-items: center;
}


body.loginStyle input {
    width: 50%;
    height: 20px;
    background: #F5F5F5;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    outline: none;
    border-radius: 30px;
    border: 2px solid #9E77F1;
}


::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    height: 5px;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    height: 5px;
    border-radius: 30px;
}


.login button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #F5F5F5;
    background: #582db6;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    transform: scale(1.1);
    border-radius: 5px;
    transition: .3s ease-in;
    cursor: pointer;
    box-shadow: 5px 10px 10px #424242;
}

.login button:hover {
    background: #69BF5B;
    transition: .3s ease-out;
    cursor: pointer;
    transform: translateY(2px);
    transform: scale(0.96);
    box-shadow: 2px 5px 5px #424242;
}

.login {
    border-radius: 60% / 10%;

}

.login p {
    font-size: 0.94em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 36px 14px -11px 5px;
    color: #9E77F1 !important;
}

.login label {
    color: #582db6;
    transform: scale(.6);
}

#chk:checked~.login {
    transform: translateY(-500px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.login label {
    transform: scale(1);
}

/* login */

.footer-father-f-f {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer-father-f {
    flex: 1 1 auto;
}

.footer-father {
    height: 100%;
    margin: auto;
}

.footer-father .container-fluid {
    height: 100%;
    width: 100%;
}

.container {
    margin-top: -6px !important;
}

body {
    background: var(--white);
    overflow: hidden;
    min-height: 100vh;
}


.corValidade {
    background-color: red;
}


/* NAVBAR */

#divDarkModeBtn {
    width: 8%;
    height: 12%;
    position: absolute;
    top: 4%;
    right: 0;
    padding: 0%;
    display: block;

}

#divDarkModeBtn button {
    background-color: #9E77F1;
    cursor: pointer;
    transition-duration: 0.7s;
    padding: .4rem;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

/* effct btn light :o*/
#divDarkModeBtn button #lightModeActive {
    color: #ffffff;
    transition-duration: 0.6s;
}

#divDarkModeBtn button #lightModeActive:hover {
    color: #313131;
    transition-duration: 0.6s;
}

/* btn dark :o*/
#divDarkModeBtn button #darkModeActive {
    color: #313131;
    transition-duration: 0.6s;
}

#divDarkModeBtn button #darkModeActive:hover {
    color: #fff;
    transition-duration: 0.6s;
}






#nomeUserNav {
    color: #9e77f1;
    font-weight: 500;
}

.divNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.divNavLogo {
    z-index: 9;
    display: flex;
    justify-content: left;
    list-style-type: none;
}

.menu-f {
    width: 100%;
    height: 100%;
    padding: 11px;
}

.menu-f ul {
    list-style-type: none;
}

.navbar {
    margin-top: 20px;
    position: relative;
    height: 75px;
    width: 100%;
    background: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    position: relative;
    display: flex;
}

.navbar ul li {
    position: relative;
    list-style-type: none;
}

.navbar ul li a:hover {
    color: #69BF5B;
}

.navbar ul li.dropdown ul {
    background-color: #9E77F1;
    position: absolute;
    right: 1;
    min-width: 75px;
    z-index: 5;
    display: none;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar ul li.dropdown:hover ul {
    display: block;
}

.navbar ul li.dropdown ul li a {
    color: #ffffff !important;
    width: 75px;
    height: 45px;
}

.navbar ul li.dropdown ul li a:hover {
    color: #69BF5B !important;
}




.navbar ul li a {
    position: relative;
    height: 66px;
    width: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navbar ul li a i {
    position: absolute;
    font-size: 1.2em;
    color: #9e77f1;
}

ul li a i.activeIcon {
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
}

.navbar ul li.active a i {
    opacity: 1;
    pointer-events: auto;
}

/* .navbar ul .indicator {
    position: absolute;
    bottom: -30px;
    left: 21px;
    height: 50px;
    width: 25px;
    background: #9e77f1;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.67, -0.55, 0.265, 1.55);
}

ul .indicator::before {
    content: "";
    position: absolute;
    left: -17px;
    bottom: 50%;
    height: 23px;
    width: 20px;
    background: white;
    border-bottom-right-radius: 20px;
    box-shadow: 0 10px 0 #9e77f1;
}

ul .indicator::after {
    content: "";
    position: absolute;
    right: -17px;
    bottom: 50%;
    height: 23px;
    width: 20px;
    background: white;
    border-bottom-left-radius: 20px;
    box-shadow: 0 10px 0 #9e77f1;
} */

/* MENU MEIO */

.toggle {
    background: #9e77f1;
    width: 5.2em;
    height: 5.2em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.toggle:hover {
    transition: .3s;
    transform: scale(1.1);
}

.toggle onclick {
    box-shadow: 0;
}

.toggle i {
    font-size: 4em;
    color: white;
    display: block;
    margin-top: 10px;
    transition: .3s;
}

.toggle i:hover {
    color: #caf177;
}

.menu {
    background: #ffffff;
    height: 6.2em;
    width: 6.2em;
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    transition: .7s !important;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) !important;
}

.menu a {
    display: flex;
    position: absolute;
    font-size: 0.8em;
    color: #9e77f1;
    transition: .4s;
    text-decoration: none;
    /* background: #9e77f1; */
}

.menu i {
    font-size: 1em;
}

/* controle da posição das crianças do menu */


/* 1 - fa-solid fa-list */
.menu a:nth-child(1) {
    top: 16px;
    left: 43px;
}

/* 2 - fa-solid fa-money-bill-trend-up */
.menu a:nth-child(2) {
    top: 43px;
    left: 72px;
}

/* 3 - fa-warehouse */
.menu a:nth-child(3) {
    top: 43px;
    left: 12px;
}

/* 4 - fa-solid fa-chart-column  */
.menu a:nth-child(4) {
    top: 74px;
    left: 43px;
}

.menu a:hover {
    color: #caf177;
    transition: .2s;
    transform: scale(1.1);
}




/* MENU DE LADO */

.menu-lado {
    position: absolute;
    top: 80vh;
    right: 90px;
}

.menu-lado .menu a:nth-child(1) {
    top: 32px;
    left: 16px;
}

.menu-lado .menu a:nth-child(2) {
    top: 16px;
    left: 43px;
}

.menu-lado .menu a:nth-child(3) {
    top: 55px;
    left: 15px;
}

.menu-lado .menu a:nth-child(4) {
    top: 74px;
    left: 43px;
}

#showpage {
    height: 100%;
    width: 100%;
}


/* HORAS */

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9e77f1;
    padding: 110px;
    border-radius: 10px;
    z-index: -5;
}

.horas {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    gap: 15px;
    flex-direction: row;
}

#Date {
    font-size: 1.3em !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* HORAS DE LADO */

.clocka {
    display: none;
}

.clock-son {
    display: block;

}

.clock-lado {
    display: flex;
    align-items: right;
    justify-content: right;
    color: #582db6;
    padding: 110px;
    border-radius: 10px;
    z-index: -5;
}

#clock-nav {
    color: #9e77f1;
}

.clock-son .horas,
.clock-son #Date {
    font-size: 1em !important;
    padding-top: 16px;
}



/* TABELAS */

/* button{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
} */

table {
    border-collapse: separate !important;
}

.table-financeira {
    width: 100%;
    border: 2px solid #9E77F1;
    border-radius: 30px !important;
    background: #FFF;
    color: #9E77F1;
    text-align: center;
    display: block;
    height: 100%;
    overflow-y: auto;
    /* position: relative;
    border-collapse: separate; */
}

.table-financeira thead tr {
    height: 100%;
    top: 0;
    position: sticky;
}

.table-financeira thead {
    background-color: #fff;
    height: 100%;
    position: sticky;
    z-index: 2;
}

.table-financeira thead th {
    background-color: #FFF;
    /* z-index: 2; */
}

.table-financeira tbody {

    /* height: 100%; */
    /* overflow: scroll; */

}

/* .table-financeira thead td {
    padding-top: 10px;
}
 */
/* .table-financeira button {
    margin-left: 5px;
    width: 33, 3%;
    color: #F5F5F5;
    transform: scale(1);
    border-radius: 5px;
    transition: .3s ease-in;
    cursor: pointer;
    box-shadow: 2px 2px 2px #424242;
}
 */
/* .table-financeira button:hover {
    background: #69BF5B;
    transition: .3s ease-out;
    cursor: pointer;
    transform: translateY(2px);
    transform: scale(0.96);
    box-shadow: 1px 1px 1px #292929;
}
 */



#btn-ativar {
    width: 56px;
    height: 30px;
    border-radius: 50px;
    background: #69BF5B;
    border: none;
    color: #FFF;

    cursor: pointer;
}

#btn-ativar:hover {}

#btn-alterar {
    width: 56px;
    height: 30px;
    border-radius: 50px;
    background: rgb(245, 153, 78);
    border: none;
    color: #FFF;

    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}

#btn-excluir {
    width: 56px;
    height: 30px;
    border-radius: 50px;
    background: rgb(219, 22, 22);
    border: none;
    color: #FFF;

    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}


/* CALENDÁRIO */

.calendario-body {
    margin: 40px 10px;
    padding: 0;
    font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
    color: #9E77F1;
}

#calendar button {
    color: #fff;
    background-color: #9E77F1;
    border: none;
}


/* LISTAR PEDIDOS */
.entregaVermelha,
.entregaAmarela,
.entregaVerde {
    border-radius: 10px;
    padding: 15px 30px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    z-index: 0;
}

.entregaVermelha {
    background: linear-gradient(45deg, #FF6347, #FF4580);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entregaAmarela {
    background: linear-gradient(45deg, #FFD700, #FFA500);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entregaVerde {
    background: linear-gradient(45deg, #32CD32, #008000);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover effect */
.entregaVermelha:hover,
.entregaAmarela:hover,
.entregaVerde:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* FINAL LISTAR PEDIDOS */

/* LISTAR EVENTOS */
#mostrarCalendarioBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Modificado para centralizar horizontalmente */
    transform: translate(-50%, -50%);
    background-color: #9E77F1;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#mostrarCalendarioBtn:hover {
    background-color: #483D8B;
}

#btnGerarCalendario {
    position: absolute;
    top: 40%;
    /* Ajustado para alinhar abaixo do primeiro botão */
    left: 50%;
    /* Modificado para centralizar horizontalmente */
    transform: translate(-50%, -50%);
    background-color: #9E77F1;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#btnGerarCalendario:hover {
    background-color: #483D8B;
}

/* FINAL LISTAR EVENTOS */

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #9e77f1;
    min-height: 100px;
    padding: 20px 50px;
}

footer .social_icon,
footer .menu_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu_footer li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 1.0em;
    color: #F5F5F5;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
    transition: 0.2s;
    color: #caf177;
}

footer .social_icon ul {
    justify-content: center;
    align-items: center;
}


footer .menu_footer li p {
    font-size: 0.98em;
    color: #F5F5F5;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
    pointer-events: none;
}

footer .wave {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 70px;
    background: url(../images/favicon/wave.png);
    background-size: 1000px 100px;

}

footer .wave#wave1 {
    z-index: 1;
    opacity: 1;
    bottom: 0;
    animation: animateWave1 9s linear infinite;
}

footer .wave#wave2 {
    z-index: 0.5;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 6s linear infinite;
}

footer .wave#wave3 {
    z-index: 1;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave1 7s linear infinite;
}

footer .wave#wave4 {
    z-index: 0.5;
    opacity: 0.7;
    bottom: 10px;
    animation: animateWave2 8s linear infinite;
}

@keyframes animateWave1 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}