@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,900&display=swap");

/* variáveis bordervendasRecentespara transição de modo - dark/light :D */
:root {
  --purplePadrão: #9e77f1;
  --purplePadrão2: #9e77f1;
  --purpleDark: #915ddf;
  --white: #fff;
  --whiteDiferente: #fdfdfd;
  --dark: #313131;
  --darkClaro: #3f3f3f;
}

/* troca de temas :D */
[data-theme="dark"] {
  --white: #313131;
  --whiteDiferente: #3f3f3f;
  --dark: #fff;
  --purplePadrão: #915ddf;
  --purplePadrão2: #6a43bd;
  transition: 5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: var(--white);
  overflow: hidden;
  min-height: 100vh;
}

/* login */

body.loginStyle form {
  color: var(--white);
  overflow-y: auto;
}

body.loginStyle .margin-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  /* background: linear-gradient(#9E77F1, #582db6);; */
  border-radius: 30px;
  box-shadow: 5px 20px 20px #424242;
  /* border: 1px #9E77F1; */
  border: 2px solid #9e77f1;
}

#chk {
  display: none;
}

a,
h1 {
  color: #9e77f1;
  font-family: "Poppins", sans-serif;
}

body.loginStyle label {
  color: var(--purplePadrão) !important;
  font-size: 2.6rem;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  align-items: center;
}

body.loginStyle input {
  width: 50%;
  height: 20px;
  background: #f5f5f5;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  outline: none;
  border-radius: 30px;
  border: 2px solid #9e77f1;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  height: 5px;
  border-radius: 30px;
}

.login button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #f5f5f5;
  background: #582db6;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  transform: scale(1.1);
  border-radius: 5px;
  transition: 0.3s ease-in;
  cursor: pointer;
  box-shadow: 5px 10px 10px #424242;
}

.login button:hover {
  background: #69bf5b;
  transition: 0.3s ease-out;
  cursor: pointer;
  transform: translateY(2px);
  transform: scale(0.96);
  box-shadow: 2px 5px 5px #424242;
}

.login {
  border-radius: 60% / 10%;
}

.login p {
  font-size: 0.94em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 36px 14px -11px 5px;
  color: #9e77f1 !important;
}

.login label {
  color: #582db6;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}

#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~ .login label {
  transform: scale(1);
}

/* login */

.footer-father-f-f {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-father-f {
  flex: 1 1 auto;
  overflow: hidden;
}

.footer-father {
  height: 100%;
  margin: auto;
}

.footer-father .container-fluid {
  height: 100%;
  width: 100%;
}

.containerDarkModeBtn {
  margin-top: -6px !important;
}

.corValidade {
  background-color: red;
}

/* NAVBAR */

#divDarkModeBtn {
  width: 20%;
  margin-right: 5%;
  margin-left: 20%;
}

#divDarkModeBtn button {
  background-color: var(--purplePadrão);
  cursor: pointer;
  transition-duration: 0.7s;
  padding: 0.4rem;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

/* effct btn light :o*/
#divDarkModeBtn button #lightModeActive {
  color: #ffffff;
  transition-duration: 0.6s;
}

#divDarkModeBtn button #lightModeActive:hover {
  color: #313131;
  transition-duration: 0.6s;
}

/* btn dark :o*/
#divDarkModeBtn button #darkModeActive {
  color: #313131;
  transition-duration: 0.6s;
}

#divDarkModeBtn button #darkModeActive:hover {
  color: #fff;
  transition-duration: 0.6s;
}

#nomeUserNav {
  color: #9e77f1;
  font-weight: 500;
}

.divNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
  align-items: center;
  margin-top: auto;
}

.divNavLogo {
  z-index: 9;
  display: flex;
  justify-content: left;
  list-style-type: none;
}

.menu-f {
  width: 100%;
  height: 100%;
  padding: 11px;
  display: flex;
  align-items: center;
  padding-top: 0;
}

.menu-f ul {
  list-style-type: none;
  padding: 3%;
}

.navbar {
  margin-top: 20px;
  position: relative;
  height: 75px;
  width: 100%;
  background: var(--whiteDiferente);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  position: relative;
  display: flex;
}

.navbar ul li {
  position: relative;
  list-style-type: none;
}

.navbar ul li a:hover {
  color: #69bf5b;
}

.navbar ul li.dropdown ul {
  background-color: var(--purplePadrão);
  position: absolute;
  right: 1;
  min-width: 75px;
  z-index: 5;
  display: none;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar ul li.dropdown:hover ul {
  display: block;
}

.navbar ul li.dropdown ul li a {
  color: #ffffff !important;
  width: 75px;
  height: 45px;
}

.navbar ul li.dropdown ul li a:hover {
  color: #69bf5b !important;
}

.navbar ul li a {
  position: relative;
  height: 66px;
  width: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar ul li a i {
  position: absolute;
  font-size: 1.2em;
  color: #9e77f1;
}

ul li a i.activeIcon {
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s ease;
}

.navbar ul li.active a i {
  opacity: 1;
  pointer-events: auto;
}

/* .navbar ul .indicator {
    position: absolute;
    bottom: -30px;
    left: 21px;
    height: 50px;
    width: 25px;
    background: #9e77f1;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.67, -0.55, 0.265, 1.55);
}

ul .indicator::before {
    content: "";
    position: absolute;
    left: -17px;
    bottom: 50%;
    height: 23px;
    width: 20px;
    background: white;
    border-bottom-right-radius: 20px;
    box-shadow: 0 10px 0 #9e77f1;
}

ul .indicator::after {
    content: "";
    position: absolute;
    right: -17px;
    bottom: 50%;
    height: 23px;
    width: 20px;
    background: white;
    border-bottom-left-radius: 20px;
    box-shadow: 0 10px 0 #9e77f1;
} */
/* 158,119,241 */
/* MENU MEIO */

.toggle {
  background: var(--purplePadrão);
  width: 5.2em;
  height: 5.2em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.toggle:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.toggle onclick {
  box-shadow: 0;
}

.toggle i {
  font-size: 4em;
  color: var(--white);
  display: block;
  margin-top: 10px;
  transition: 0.3s;
}

.toggle i:hover {
  color: #caf177;
}

.menu {
  background: var(--whiteDiferente);
  height: 6.2em;
  width: 6.2em;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  transition: 0.7s !important;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) !important;
}

.menu-lado .menu {
  background: var(--whiteDiferente);
  height: 6.2em;
  width: 6.2em;
  border-radius: 50%;
  transform: scale(0);
  position: fixed;
  top: 63%;
  left: 90%;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  transition: 0.7s !important;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) !important;
}

.menu a {
  display: flex;
  position: absolute;
  font-size: 0.8em;
  color: var(--purplePadrão);
  transition: 0.4s;
  text-decoration: none;
  /* background: #9e77f1; */
}

.menu i {
  font-size: 1em;
}

/* controle da posição das crianças do menu centro */

/* 1 - fa-solid fa-list-check */
.menu a:nth-child(1) {
  top: 16px;
  left: 27px;
}

/* 2 - fa-solid fa-money-bill-trend-up */
.menu a:nth-child(2) {
  top: 15px;
  left: 60px;
}

/* 3 - fa-solid fa-boxes-stacked */
.menu a:nth-child(3) {
  top: 43px;
  left: 12px;
}

/* 4 - fa-solid fa-calendar-days  */
.menu a:nth-child(4) {
  top: 74px;
  left: 27px;
}

/* 5 - fa-solid fa-user-plus  */
.menu a:nth-child(5) {
  top: 74px;
  left: 58px;
}

/* 6 - fa-solid fa-box-open  */
.menu a:nth-child(6) {
  top: 43px;
  left: 72px;
}

.menu a:hover {
  color: #caf177;
  transition: 0.2s;
  transform: scale(1.1);
}

/* MENU DE LADO */

.menu-lado {
  position: sticky;
  top: 85%;
  margin-left: 94.6%;
  z-index: 5;
}

.menu-lado .menu {
  background: var(--whiteDiferente);
  height: 6.2em;
  width: 6.2em;
  border-radius: 50%;
  transform: scale(0);
  position: fixed;
  top: 63%;
  left: 94%;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  transition: 0.7s !important;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) !important;
}

.menu-lado .menu i {
  font-size: 0.92em;
}

/* 1 - fa-solid fa-list-check */
.menu-lado .menu a:nth-child(1) {
  top: 16px;
  left: 26px;
}

/* 2 - fa-solid fa-money-bill-trend-up */
.menu-lado .menu a:nth-child(2) {
  top: 13px;
  left: 46px;
}

/* 3 - fa-solid fa-boxes-stacked */
.menu-lado .menu a:nth-child(3) {
  top: 32px;
  left: 12px;
}

/* 4 - fa-solid fa-calendar-days  */
.menu-lado .menu a:nth-child(4) {
  top: 51px;
  left: 13px;
}

/* 5 - fa-solid fa-user-plus  */
.menu-lado .menu a:nth-child(5) {
  top: 69px;
  left: 25px;
}

/* 6 - fa-solid fa-box-open  */
.menu-lado .menu a:nth-child(6) {
  top: 74px;
  left: 46px;
}

#showpage {
  overflow: scroll;
  margin-top: 1%;
  height: 100%;
  width: 100%;
}

/* HORAS */

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purplePadrão);
  padding: 5%;
  border-radius: 10px;
  z-index: -5;
}

.horas {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  gap: 15px;
  flex-direction: row;
}

#Date,
#controle-clock-toggle {
  font-size: 1.3em !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* dá conflito e aparece nas outras áreas */
/* div#controle-clock-toggle {
  align-items: center;
  display: flex;
  flex-direction: column;
} */

/* HORAS DE LADO */

.clocka {
  display: none;
}

.clock-son {
  display: block;
  padding-left: 20%;
}

.clock-lado {
  display: flex;
  align-items: right;
  justify-content: right;
  color: #582db6;
  padding: 110px;
  border-radius: 10px;
  z-index: -5;
}

#clock-nav {
  color: var(--purplePadrão);
}

.clock-son .horas,
.clock-son #Date {
  font-size: 1em !important;
  padding-top: 16px;
}

.clock-nav .clock-son .horas,
.clock-nav .clock-son #Date {
  font-size: 1em !important;
  padding-top: 16px;
}

/* TABELAS */

/* button{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
} */

table {
  border-collapse: separate !important;
}



.img-thumbnail{
  width: 60%;
  height: 60%;

}



.table-financeira {
  width: 100%;
  border: 1px solid var(--purplePadrão);
  border-radius: 30px !important;
  background: var(--whiteDiferente);
  color: var(--purplePadrão);
  text-align: center;
  display: block;
  height: 100%;
  overflow-y: auto;
  /* position: relative;
    border-collapse: separate; */
}

.table-financeira thead tr {
  height: 100%;
  top: 0;
  position: sticky;
}

.table-financeira thead {
  background-color: var(--whiteDiferente);
  height: 100%;
  position: sticky;
  z-index: 2;
}

.table-financeira thead th {
  background-color: var(--whiteDiferente);
}

#btn-ativar {
  width: 56px;
  height: 30px;
  border-radius: 50px;
  background: #69bf5b;
  border: none;
  color: #fff;

  cursor: pointer;
}

#btn-alterar {
  width: 56px;
  height: 30px;
  border-radius: 50px;
  background: rgb(245, 153, 78);
  border: none;
  color: #fff;

  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}

#btn-excluir {
  width: 56px;
  height: 30px;
  border-radius: 50px;
  background: rgb(219, 22, 22);
  border: none;
  color: #fff;

  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}

.btn-group{
  gap: 2%;

}

/* CALENDÁRIO */

.calendario-body {
  margin: 40px 10px;
  padding: 0;
  font-size: 14px;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
  color: var(--purplePadrão);
}

#calendar button {
  color: #fff;
  background-color: var(--purplePadrão);
  border: none;
}

/* MODAIS */

.modaisCorpos {
  background-color: var(--whiteDiferente);
}

.inputModal {
  background-color: var(--whiteDiferente) !important;
  color: var(--dark) !important;
}

.modaisCorpos label {
  color: var(--dark);
}

/* FIM ESTILIZAÇÃO DE MODAIS */

/* LISTAR PEDIDOS */
.entregaVermelha,
.entregaAmarela,
.entregaVerde {
  border-radius: 15px;
  padding: 15px 30px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  z-index: 0;
}

.entregaVermelha {
  background: linear-gradient(45deg, #ff6347, #ff4580);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entregaAmarela {
  background: linear-gradient(45deg, #ffd700, #ffa500);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entregaVerde {
  background: linear-gradient(45deg, #32cd32, #008000);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover effect */
.entregaVermelha:hover,
.entregaAmarela:hover,
.entregaVerde:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* FINAL LISTAR PEDIDOS */

/* LISTAR EVENTOS */
#mostrarCalendarioBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Modificado para centralizar horizontalmente */
  transform: translate(-50%, -50%);
  background-color: var(--purplePadrão);
  color: #ffffff;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#mostrarCalendarioBtn:hover {
  background-color: #483d8b;
}

#btnGerarCalendario {
  position: absolute;
  top: 40%;
  /* Ajustado para alinhar abaixo do primeiro botão */
  left: 50%;
  /* Modificado para centralizar horizontalmente */
  transform: translate(-50%, -50%);
  background-color: var(--purplePadrão);
  color: #ffffff;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#btnGerarCalendario:hover {
  background-color: #483d8b;
}

/* FINAL LISTAR EVENTOS */

/* LISTAR FINANCEIRO */

.cardBox {
  margin: auto;
  position: relative;
  width: 92%;
  padding: 1.2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
}

.cardBox .card {
  position: relative;
  padding: 10%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 6px 12px rgba(2, 2, 2, 0.1);
  border: 1px solid #9e77f1;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  grid-gap: 25%;
}

.cardBox .card:hover {
  color: #f5f5f5;
  border: 1px solid #32cd32;
  transform: translateY(1px);
  transform: scale(1.1);
  transition: 0.3s;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox {
  color: #32cd32;
}

.cardBox .card .numbers {
  position: relative;
  font-size: 1.6rem;
  color: #9e77f1;
}

.cardBox .card .cardName {
  color: #9e77f1;
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBox {
  font-size: 1.6rem;
  color: #9e77f1;
}

.details {
  margin: auto;
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

/* 43:15 */
.details .vendasRecentes,
.details .clientesRecentes {
  color: var(--purplePadrão);
  text-align: center;

  padding: 20px;
  box-shadow: 0px 6px 12px rgba(2, 2, 2, 0.1);
  border-radius: 30px;
  border: 1px solid #9e77f1;
  overflow-y: auto;
}

.details .vendasRecentes thead {
  width: auto;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.details h2 {
  font-weight: 600;
  color: #9e77f1;
  margin-left: 1%;
  margin-top: 2%;
}

.headerTableFin {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.headerTableFin .btn {
  margin-top: 2px;
}

.details .btn {
  position: relative;
  padding: 5px 10px;
  text-decoration: none;
  color: #9e77f1;
  border-radius: 20px;
  border: 1px solid #9e77f1;
}

.details .btn:hover {
  position: relative;
  padding: 5px 10px;
  text-decoration: none;
  color: #32cd32;
  border-radius: 20px;
  border: 1px solid #32cd32;
}

.details th {
  color: #9e77f1 !important;
  width: auto;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details .vendasRecentes table tr:last-child {
  border-bottom: none;
}

.details .vendasRecentes table tr td:last-child {
  text-align: end;
}

.details .vendasRecentes table tr td:nth-child(2) {
  text-align: end;
}

.details .vendasRecentes table tr td:nth-child(3) {
  text-align: center;
}


.details .vendasRecentes tbody, .details .clientesRecentes tbody, .details p {
  font-weight: 300 !important;
  font-style: normal;
  font-size: 1rem;
  margin: auto;
}

.details table tbody {
  font-weight: normal !important;
  font-style: normal;
}

.status.concluido {
  padding: 2px 4px;
  background: #32cd32;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.emAndamento {
  padding: 2px 4px;
  background: #cd3232;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

/* botão feio de ficheiro */

.form-control.inputModal{
  background: transparent;
  border-radius: 20px;
}

body.swal2-height-auto {
  height: 100% !important
}



.headerCardBox h2{
  font-size: 3rem;
  color: #9e77f1;
  font-weight: 600;
  padding-left: 7%;
}


.headerCalendar h1{
  font-size: 3rem;
  color: #9e77f1;
  font-weight: 600;
}

.headerCalendar h1{
  font-size: 3rem;
  color: #9e77f1;
  font-weight: 600;
}

/* FINAL LISTAR FINANCEIRO */

/* SOBRE NÓS */

/* body {
        background-color: #eff5f9;
        color: #333;
        font-family: 'Arial', sans-serif;
    } */

.container {
  width: 100%;
  margin: auto;
}

.box {
  text-align: center;
  height: fit-content;
  overflow-y: auto;
  background: linear-gradient(to right, #9e77f1, #6f42c1);
  color: #ffffff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.4);
  
  margin-bottom: 5%;
}

.box h1 {
  font-size: 2rem;
  font-weight: 600;
}

.container .card-body {
  padding: 2.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.display-4 {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.container .cardArea {
  margin: 0 0 0 0px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.container .card {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid #9e77f1;
  box-shadow: 12px 14px 8px 0px rgba(0, 0, 0, 0.4);
  background: transparent;
}

.container .card p,
.container .card h5 {
  color: #9e77f1;
}

/* FOOTER */

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--purplePadrão2);
  color: var(--white);
}


footer .social_icon,
footer .menu_footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  text-align: center;
}

footer .social_icon li,
footer .menu_footer li {
  list-style: none;
  
}

footer .social_icon li a {
  font-size: 1.2em;
  color: var(--white);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  list-style: none;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
  transform: scale(1.1);
  transition: 0.2s;
  color: #caf177;
}

footer .social_icon ul {
  justify-content: center;
  align-items: center;
}

footer .menu_footer li p {
  font-size: 0.98em;
  color: var(--white);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  list-style: none;
  pointer-events: none;
}

footer .wave {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 70px;
  background: url(../images/favicon/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1;
  opacity: 1;
  bottom: 0;
  animation: animateWave1 9s linear infinite;
}

footer .wave#wave2 {
  z-index: 0.5;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave2 6s linear infinite;
}

footer .wave#wave3 {
  z-index: 1;
  opacity: 0.2;
  bottom: 0;
  animation: animateWave1 7s linear infinite;
}

footer .wave#wave4 {
  z-index: 0.5;
  opacity: 0.7;
  bottom: 10px;
  animation: animateWave2 8s linear infinite;
}

@keyframes animateWave1 {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

/* ESTILIZAÇÃO RESPONSIVA */

@media screen and (max-width: 1400px) {
  /* áreas principais */

  .clock-son {
    padding-left: 5%;
  }

  .navbar {
    margin-top: 20px;
    position: relative;
    height: 75px;
    width: 35%;
    background: var(--whiteDiferente);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .menu-f {
    padding: 0;
    width: 50%;
  }

  #divDarkModeBtn {
    margin-right: auto;
    padding: 0;
  }

  .clock-son {
    display: block;
    margin-left: 11%;
  }

  .menu-lado {
    position: sticky;
    top: 85%;
    margin-left: 93%;
    z-index: 5;
  }

  .menu-lado .menu {
    background: var(--whiteDiferente);
    height: 6.2em;
    width: 6.2em;
    border-radius: 50%;
    transform: scale(0);
    position: fixed;
    top: 63%;
    left: 92.9%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    transition: 0.7s !important;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) !important;
  }

  .divNav {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
  }

  footer {
    font-size: 0.8rem;
  }

  footer .social_icon,
  footer .menu_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: nowrap;
    text-align: center;
    align-content: center;
    flex-direction: row;
  }

  /* sobre nós */

  .container .cardArea {
    margin: 0 0 0 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .container .card {
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid #9e77f1;
    box-shadow: 12px 14px 8px 0px rgba(0, 0, 0, 0.4);
  }

  /* financeiro */

  .cardBox {
    margin: auto;
    position: relative;
    width: 92%;
    padding: 1.2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
  }
}

@media screen and (max-width: 900px) {
  /* áreas principais */

  .clock-son {
    padding-left: 5%;
  }

  .navbar {
    margin-top: 20px;
    position: relative;
    height: 75px;
    width: 35%;
    background: var(--whiteDiferente);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .menu-f {
    padding: 0;
    width: 50%;
  }

  #divDarkModeBtn {
    margin-right: 19%;
    padding: 0;
  }

  .menu-lado {
    position: sticky;
    top: 85%;
    margin-left: 88%;
    z-index: 5;
  }

  .menu-lado .menu {
    background: var(--whiteDiferente);
    height: 6.2em;
    width: 6.2em;
    border-radius: 50%;
    transform: scale(0);
    position: fixed;
    top: 63%;
    left: 86%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    transition: 0.7s !important;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) !important;
}

  .divNav {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
  }

  footer {
    font-size: 0.8rem;
  }

  footer .social_icon,
  footer .menu_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: nowrap;
    text-align: center;
    align-content: center;
    flex-direction: row;
  }

  /* sobre nós */

  .cardArea {
    margin: 0 0 0 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .card {
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid #9e77f1;
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.4);
  }

  /* financeiro */

  .cardBox {
    margin: auto;
    position: relative;
    width: 92%;
    padding: 1.2%;
    display: flex;
    grid-template-columns: auto;
    grid-gap: 1%;
    flex-wrap: nowrap;
  }

  .details {
    margin: auto;
    position: relative;
    width: 90%;
    display: flow;
  }
}

@media screen and (max-width: 625px) {
  /* áreas principais */

  .clock-son {
    padding-left: 5%;
  }

  .navbar {
    position: relative;
    height: 75px;
    width: 35%;
    background: var(--whiteDiferente);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .menu-f {
    padding: 0;
    width: 50%;
  }

  .menu-f img {
    margin-top: 23%;
  }

  #divDarkModeBtn {
    width: 1%;
    margin-right: auto;
    padding: 0;
  }

  .menu-lado {
    position: sticky;
    top: 85%;
    margin-left: 80%;
    z-index: 5;
}

  .menu-lado .menu {
    background: var(--whiteDiferente);
    height: 6.2em;
    width: 6.2em;
    border-radius: 50%;
    transform: scale(0);
    position: fixed;
    top: 61%;
    left: 78%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    transition: 0.7s !important;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1) !important;
}

  .divNav {
    width: 75%;
    display: flex;
    justify-content: space-between;
  }

  footer {
    font-size: 0.8rem;
  }

  footer .social_icon,
  footer .menu_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: nowrap;
    text-align: center;
    align-content: center;
    flex-direction: row;
  }

  /* sobre nós */

  .cardArea {
    margin: 0 0 0 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .card {
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid #9e77f1;
    box-shadow: 12px 14px 8px 0px rgba(0, 0, 0, 0.4);
  }

  /* financeiro */

  .cardBox {
    margin: auto;
    position: relative;
    width: 92%;
    padding: 1.2%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5%;
    transition: 3s;
  }

  .cardBox .card {
    width: auto;
    position: relative;
    padding: 10%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 6px 12px rgba(2, 2, 2, 0.1);
    border: 1px solid #9e77f1;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
    grid-gap: 25%;
  }

  .details {
    margin: auto;
    position: relative;
    width: 90%;
    display: flow;
  }

}
